.HomePage {
  background-image: url("/src/assets/homepageImage.webp");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-color: var(--cta-color);
}

.HomePage__title {
  font-size: clamp(4rem, 6vw, 50rem);
  color: var(--text-color);

  max-width: 50%;
  line-height: 0.9;
  margin-bottom: 1em;
  margin-top: 1em;
}
