.ShopPage__JewelryCard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  padding-block: 3em;
}

.ShopPage__error-container {
  max-width: 700px;
  padding: 3em 3em;
  font-size: clamp(1.1rem, 1.5vw, 50rem);
  width: 80%;
  margin: 5em auto;

  background-color: var(--dark-background);
  color: var(--text-color);
  border-radius: 1em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3), 0 1em 2em rgba(0, 0, 0, 0.2);
  text-align: center;
}

.ShopPage__error-message-intro {
  margin-bottom: 1.25em;
}

.ShopPage__title {
  max-width: 85%;
  margin: 1.5em auto;
  font-size: clamp(3rem, 5.5vw, 50rem);
  padding-bottom: 0.4em;

  line-height: 0.95;
  text-align: center;
  border-bottom: 0.1em solid;
  border-image: linear-gradient(
      to right,
      var(--golden-background),
      var(--dark-background)
    )
    1;
}
