.CallToActionButton {
  font-size: clamp(1.2rem, 1.3vw, 50rem);
  padding: 0.9em 1.6em;

  transition: all 0.3s;
  border-radius: 1em;
  box-shadow: 0 0 0.2vw var(--cta-color), 0 0 0.4vw var(--cta-color),
    0 0 0.8vw var(--cta-color), 0 0 1.6vw var(--cta-color);
  font-weight: 600;
  background: white;
  color: black;
  font-weight: normal;
}

.CallToActionButton:focus,
.CallToActionButton:hover {
  box-shadow: 0 0 0.2vw var(--cta-color), 0 0 0.8vw var(--cta-color),
    0 0 1.25vw var(--cta-color), 0 0 3vw var(--cta-color);
  transform: translateY(-5px);
}
